.suggested-users-container {
  display: none;
}

.suggested-users-container h3 {
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 1024px) {
  .suggested-users-container {
    display: block;
    position: sticky;
    top: 5rem;
    height: 88dvh;
    max-width: 35rem;
    margin-right: 1rem;
  }
}
