.post-card-container {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 35rem;
    border: 1px gray solid;
    border-radius: 1rem;
    position: relative;
}

.post-card-container .user-details-post-container {
    width: 100%;
}

.post-card-container .profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-card-container .user-details-container {
    display: flex;
    justify-content: space-between;
}

.post-card-container .icon {
    cursor: pointer;
}

.post-card-container .options-buttons-container {
    position: absolute;
    top: 2.5rem ;
    right: 0;
    background-color: var(--secondary-color);
}

.post-card-container .options-buttons-container .edit-delete-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.post-card-container .options-buttons-container button{
    background-color: var(--secondary-color);
    color: white;
    font-family: inherit;
    border-radius: 0.1rem;
    padding: 0.2rem;
}

.post-card-container .content {
    margin: 0.5rem 0;
}

.post-card-container .media-container {
    margin: 1rem 0;
}

.post-card-container .media-container img, video {
    width: 100%;
}

.post-card-container .icons-container {
    display: flex;
    justify-content: space-between;
}

.post-card-container .icons-container .bookmark-unFill-icon {
    color: gray;
}

.post-card-container .icons-container .bookmark-icon {
    color: black;
}

.post-card-container .icons-container .favorite-fill-icon {
    color: red;
}