.header-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container h1 {
    color: var(--primary-color);
    cursor: pointer;
}

.header-container .input-users-container input {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    width: 40dvw;
    max-width: 15rem;
}

.header-container .input-users-container {
    position: relative;
}

.input-users-container .searched-users-container {
    position: absolute;
    top: 3.5rem;
    right: 0;
    background-color: white;
}