.explore-container {
    padding: 1rem;
}

.explore-container .explore-suggested-users-container {
  margin: 0 auto;
}

.explore-container .posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .explore-container .explore-suggested-users-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }
}
