.signup-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-container h1 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.signup-container .form-details-container {
    width: 80vw;
    max-width: 30rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.signup-container .form-details-container h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.signup-container .form-container input {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.signup-container .form-container .checkbox-container {
    display: flex;
    gap: 0.5rem;
}

.signup-container .form-container .checkbox-container input {
    width: fit-content;
    margin-top: 2px;
}

.signup-container .form-container .submit-button {
    padding: 0.5rem;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    margin: 1rem 0;
}

.signup-container .login-link {
    text-align: center;
}